extends layout 
 
block content 
  h1= title 
 
  form(id='earphonesForm', action="/resource/earphones", method="POST") 
    div.form-group 
        label.earphonesAttr(for='earphone_name') Earphones Name 
        input#earphone_name(type='text', name='earphone_name') 
    div.form-group 
        label.earphonesAttr(for='earphone_shape') Earphones Shape  
        input#earphone_shape(type='text', name='earphone_shape') 
    div.form-group 
        label.earphonesAttr(for='earphone_radius') Earphones Radius  
        input#earphone_radius(type='number', name='earphone_radius') 
    input(type="submit") 
 
  script. 
    document.forms['earphonesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 